<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit_test/tests/bootstrap.php">
    <testsuites>
        <testsuites name="whovian">
            <directory suffix="Test.php">phpunit_test/tests</directory>
        </testsuites>
    </testsuites>

    <filter>
        <whitelist>
            <directory>phpunit_test/src</directory>
        </whitelist>
    </filter>
</phpunit>